.time-dropdown {
    position: relative;
    width: 100%;
    height: 38px;
    font-family: sans-serif;
}

.display {
    height: 38px;
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    color: #767676;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-list {
    position: absolute;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    max-height: 100px;
    /* <-- ปรับขนาด dropdown ได้ตรงนี้ */
    overflow-y: auto;
    z-index: 50;
}

.dropdown-item {
    padding: 4px 8px;
    /* <-- ทำให้รายการเล็กลง */
    font-size: 12px;
    cursor: pointer;
}

.dropdown-item:hover {
    background: #eee;
}